{% extends 'site/components/_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row g-0 justify-content-center align-items-stretch py-5">
		<h1 class="col-12 text-center my-5">{{ title }}</h1>
        <div class="col-11 col-sm-8 col-md-5 p-5 d-flex justify-content-center align-items-center">
            <img src="{{ asset('images/logo.png') }}" alt="Logo ErmMaps" class="img-fluid">
        </div>
        <div class="col-11 col-sm-8 col-md-6 p-1 shadow-lg d-flex justify-content-center align-items-center h5">
            <div class="list-group col-11">
                {% for route in routes %}
                    <a href="{{ route.url }}" class="list-group-item list-group-item-action"><i class="fa-solid fa-map-location-dot"></i> {{ route.name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>
    
{% endblock %}
