{% extends 'site/components/_base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<h1 class="col-12 text-center h3 my-5">{{ title }}</h1>

	<div class="row justify-content-around mt-5 mb-3">
		<div class="card col-11 col-md-5 p-0">
			<div class="card-header">Recherche par ville:</div>
			<div class="card-body">
				{{ form_start(formSearchByCity) }}
                    <div class="col-11 mb-3">
                        {{ form_widget(formSearchByCity.city) }}
                    </div>
                     <div class="col-11 mb-3">
                        {{ form_widget(formSearchByCity.options) }}
                    </div>
                    <div class="col-11 text-center mb-2">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-primary">Rechercher</button>
                            <a href="{{ path('app_home') }}" class="btn btn-warning">Reset</a>
                        </div>
                    </div>
				{{ form_end(formSearchByCity) }}
			</div>
		</div>
	</div>
    {# s'il y a une recherche #}
    {% if datas | length > 0 %}

        <div class="row justify-content-center mb-3">
            <div class="col-12 col-md-10">
                {{ ux_map(map, {'data-controller': 'mymap', 'controller_id': false, style: 'height: 600px;'}) }}
            </div>
        </div>

        <div class="row justify-content-center mb-3">
            <div class="col-12 text-center mb-2 fw-bolder">Résultat(s):</div>
            <div class="col-12 col-md-10 mb-4">
                <table class="table text-center align-middle table-striped mb-3">
                    <thead>
                        <th>Depuis:</th>
                        {# <th>Type de centre:</th> #}
                        <th>Distance:<br/>(ALLER)</th>
                        <th>Temps de trajet:<br/>(ALLER)</th>
                    </thead>
                    <tbody>
                        {% for key, data in datas %}
                            {% set dureeEnSecondes = data.duration %}
                            {% set hours = (dureeEnSecondes / 3600) %60 | round %}
                            {% set minutes = (dureeEnSecondes / 60) %60 | round %}
                            <tr>
                                <td>{{ data.shop.cm }} - {{ data.shop.name }}</td>
                                {# <td><span class="badge" style="color:{{ data.state.textColor }}; background-color:{{ data.state.backgroundColor }};"> {{ data.state.name }} </span></td> #}
                                <td>{{ data.distance / 1000 }}
                                    KMS</td>
                                <td>
                                    {% if hours > 0 %}
                                        {{ hours }}
                                        H
                                    {% endif %}
                                    {{ minutes }}
                                    min
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
	{% endif %}

{% endblock %}