<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/svg+xml" href="{{ asset('favicon//favicon.svg') }}" />
        <link rel="shortcut icon" href="{{ asset('favicon//favicon.ico') }}" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('favicon//apple-touch-icon.png') }}" />
        <meta name="apple-mobile-web-app-title" content="ErmMaps" />
        <link rel="manifest" href="{{ asset('favicon//site.webmanifest') }}" />
        {# fontawesome icones #}
        <script src="https://kit.fontawesome.com/39dfe16fa3.js" crossorigin="anonymous"></script>

        {% block javascripts %}
            {% block importmap %}{{ importmap('site') }}{% endblock %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column vh-100">

        {% include "site/components/_navbar.html.twig" %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>

        {% include "site/components/_footer.html.twig" %}

    </body>
</html>
