<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('app_maps_choices') }}">ERM</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarColor01">
			{% if is_granted('ROLE_USER') %}
				<ul class="navbar-nav me-auto">
					{% if is_granted('ROLE_SUPER_ADMIN') %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_prime') }}">Calcul prime mensuelle</a>
					</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('app_search_distance') }}">Calcul distance</a>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cartes</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('app_map_all_shops') }}">Tous les centres</a>
							<a class="dropdown-item" href="{{ path('app_map_all_regions') }}">Toutes les régions</a>
							<a class="dropdown-item" href="{{ path('app_map_all_zones', {'classeName': 'mv'}) }}">Toutes les zones MV</a>
							<a class="dropdown-item" href="{{ path('app_map_all_zones', {'classeName': 'vl'}) }}">Toutes les zones VL</a>
							<a class="dropdown-item" href="{{ path('app_map_zones_telematique') }}">Zones télématiques</a>
							<a class="dropdown-item" href="{{ path('app_map_all_shops_under_cgo', {'classeName': 'mv'}) }}">Centres sous CGO MV</a>
							<a class="dropdown-item" href="{{ path('app_map_all_shops_under_cgo', {'classeName': 'vl'}) }}">Centres sous CGO VL</a>
						</div>
					</li>
					<li class="nav-item dropdown">
						<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Télématique</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="{{ path('app_map_zones_telematique') }}">Zones télématiques</a>
							<a class="dropdown-item" href="{{ path('app_map_technicians_telematique') }}">Les techniciens télématiques</a>
						</div>
					</li>
				</ul>
			{% endif %}
			<ul class="navbar-nav ms-auto">
				<li class="nav-item dropdown dropstart">
					<a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa-solid fa-user"></i></a>
					<div class="dropdown-menu">
						{% if is_granted('ROLE_USER') %}
							{% if is_granted('ROLE_ADMIN') %}
								<a class="dropdown-item" href="{{ path('admin') }}"><i class="fa-solid fa-gear"></i> ADMIN</a>
								<div class="dropdown-divider"></div>
							{% endif %}
							<a class="dropdown-item" href="{{ path('app_logout')}}"><i class="fa-solid fa-lock-open text-warning"></i> Déconnexion</a>
						{% else %}
							<a class="dropdown-item" href="{{ path('app_login')}}"><i class="fa-solid fa-lock text-warning"></i> Se connecter</a>
						{% endif %}
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>
