{% extends "site/components/_base.html.twig" %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

	<div class="row g-0 justify-content-center align-items-center">
		{% if result is not null %}
			<div class="col-12 col-md-10 col-lg-8 d-flex flex-wrap justify-content-center align-items-center mb-5 p-5 shadow-lg">
				<p class="col-12 fw-bold text-warning">Prime par personne: {{ result|number_format(2, '.', ',') }} €</p>
				<table class="table table-striped">
					<tr>
						<td colspan="2">Prochain palier:</td>
					</tr>
					<tr>
						<td>PS TOTALE:</td>
						<td>{{ infosForNextLevel.nextPsForNextLevel }}</td>
					</tr>
					<tr>
						<td>Reste à faire:</td>
						<td>{{ infosForNextLevel.psDifference }}</td>
					</tr>
					<tr>
						<td>Prime par personne:</td>
						<td>Mini: {{ infosForNextLevel.startPrime|number_format(2, '.', ',') }} € - Max: {{ infosForNextLevel.endPrime|number_format(2, '.', ',') }} €</td>
					</tr>
				</table>
			</div>
		{% endif %}
		<div class="col-12 col-md-10 col-lg-8 d-flex justify-content-center align-items-center mb-5">
			<table class="col-11 table text-center mb-5">
				<thead>
					<tr>
					<th scope="col">De</th>
					<th scope="col">à</th>
					<th scope="col">Pourcentage</th>
					</tr>
				</thead>
				<tbody>
					{% for primeLevel in primeLevels %}
						{% set tdBackground = '' %}
						{% if primeLevelFromCalc is not null and primeLevelFromCalc.start == primeLevel.start %}
						{% set tdBackground = 'bg-secondary' %}
						{% endif %}
						<tr>
							<td class="{{ tdBackground }}">{{ primeLevel.start }}</td>
							<td class="{{ tdBackground }}">{{ primeLevel.end }}</td>
							<td class="{{ tdBackground }}">{{ primeLevel.percentage / 100 }}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>

	</div>


{% endblock %}
